---
import Card from "../components/Card.astro";
import Base from "../layouts/Base.astro";
import {getOffres} from "../JS/backend-Ahnuir-Noelie.mjs";
const offres = await getOffres();
---

<Base titre="Accueil">
    <h1 class="text-black relative text-center text-3xl my-20">Offres</h1>

    <div
        class=" flex flex-col items-center justify-center h-screen"
        x-data="{ showFavorites: false }"
    >
        <button
            @click="showFavorites = !showFavorites"
            class="bg-purple-500 relative top-2 right-0 hover:bg-purple-700 font-bold py-2 px-4 rounded mb-5"
        >
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <div>
            <template x-if="!showFavorites">
                <div>
                    {offres.map((offre) => <Card {...offre} />)}
                </div>
            </template>

            <template x-if="showFavorites">
                <div>
                    {
                        offres
                            .filter((offre) => offre.favori)
                            .map((offre) => <Card {...offre} />)
                    }
                </div>
            </template>
        </div>
    </div>

    </Card>

</Base>